<!DOCTYPE html>
<html>
  <head>
    <title>PDF Chatbot</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="upload-container">
      <form action="/submit">
        <label id="upload-label" for="file-upload">Upload PDF</label>
        <input type="file" id="file-upload" accept=".pdf" />
      </form>
    </div>

    <div id="chat-container">
      <h1>Chatbot</h1>
    </div>
    <input
      type="text"
      id="user-input"
      placeholder="Type your message..."
      disabled
    />
    <button id="send-button" disabled>Send</button>
    <script src="index.js"></script>
  </body>
</html>
